html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.container {
  width: 1024px;
  margin: 0 auto; }

body {
  background-color: white;
  font-family: Vollkorn, Arial, SansSerif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

section, div, nav, header, footer, h1, article, img {
  border: 1px solid white; }

h1 {
  border-top: 5px solid black;
  padding-top: 5%;
  font-size: 2rem; }

header {
  background-color: black;
  top: 0;
  width: 100vw;
  height: 15vh;
  position: fixed;
  font-size: 1.5rem; }
  header div {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 15vh; }
    header div .logo {
      width: 30%;
      background-image: url("../images/logo-bwhite.jpg");
      background-size: cover;
      background-position: center; }
    header div nav {
      color: white;
      width: 40%;
      display: flex; }
      header div nav ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center; }

.slideshow {
  height: 30vh;
  background-image: url("../images/a.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 10vh; }

.about {
  height: 100vh;
  display: flex;
  flex-wrap: wrap; }
  .about .slideshow {
    width: 100%;
    height: 30vh;
    background-image: url("../images/a.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 15vh; }
  .about h1 {
    background-color: white;
    color: black;
    text-align: center;
    height: 10vh;
    width: 100vw; }
  .about > div {
    height: 40vh;
    display: flex; }
    .about > div article {
      padding: 3%;
      width: 60%; }
      .about > div article:first-letter {
        font-size: 2rem; }
    .about > div #img1 {
      width: 40%;
      height: 100%;
      bottom: 0;
      right: 0;
      background-image: url("../images/photo1.jpeg"); }

.service {
  height: 100vh;
  display: flex;
  flex-wrap: wrap; }
  .service h1 {
    background-color: white;
    color: black;
    text-align: center;
    height: 10vh;
    width: 100vw; }
  .service > div {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse; }
    .service > div article {
      padding: 3%;
      width: 60%; }
      .service > div article:first-letter {
        font-size: 2rem; }
    .service > div #img2 {
      width: 40%;
      height: 30%;
      bottom: 0;
      right: 0;
      background-image: url("../images/photo1.jpeg"); }

.products {
  height: 100vh;
  display: flex;
  flex-wrap: wrap; }
  .products h1 {
    background-color: white;
    color: black;
    text-align: center;
    height: 10vh;
    width: 100vw; }
  .products > div {
    height: 80vh;
    width: 100%; }

.contact {
  height: 100vh;
  display: flex;
  flex-wrap: wrap; }
  .contact h1 {
    background-color: white;
    color: black;
    text-align: center;
    height: 10vh;
    width: 100vw; }
  .contact > div {
    height: 80vh;
    width: 100%; }

/*# sourceMappingURL=style.css.map */
