* {
  box-sizing: border-box;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

body {
  background-color: $color-background;
  font-family: Vollkorn, Arial, SansSerif;
}

.row:before, .row:after {
  content : "";
  display : table;
  clear: both;
}
[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.666%;
}

.col-1 {
  width: 16.66%;
}
.col-2 {
  width: 33.33%;
}
.col-3 {
  width: 50%;
}
.col-4 {
  width: 66.66%;
}
.col-5 {
  width: 83.33%;
}
.col-6 {
  width: 100%;
}


@mixin border($color) {
  //border: 1px solid white;
}

section {
  padding-top: 15vh;
}

section, div, nav, header, footer, h1, article, img {
  @include border(red);
}

h1 {
  //border-top: 3px solid black;
  padding-top: 5%;
  font-size: 2rem;
}

.headerLine {
  width: 100%;
  height: 1px;
  width: 10%;
  margin: 0 auto;
  border-top: 1px solid black;
}

