* {
  box-sizing: border-box;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

body {
  background-color: $color-background;
  font-family: Vollkorn, Arial, SansSerif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@mixin border($color) {
  //border: 1px solid white;
}

section {
  padding-top: 15vh;
}

section, div, nav, header, footer, h1, article, img {
  @include border(red);
}

h1 {
  border-top: 5px solid black;
  padding-top: 5%;
  font-size: 2rem;
}