@import "../variables";

.about {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  div:first-child {
    height: 40vh;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    .slideShow {
      .showSlide {
        display: inline-block;
      }
        li {
          display: none;
          height: 100%;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
            display: block;
          }
      }
    }

  }
  h1 {
    @include h1($color-main)
  }
  div:last-child {
    height: 40vh;
    width: 100%;
    display: flex;
    article {
      padding: 3%;
      width: 60%;
      &:first-letter {
        font-size: 2rem;
      }
    }
    #img1 {
      width: 40%;
      height: 100%;
      bottom: 0;
      right: 0;
      background-image: url("../images/photo1.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

}

