@import "../variables";

.about {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  .slideshow {
    width: 100%;
    height: 30vh;
    background-image: url("../images/a.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 0;
  }
  h1 {
    @include h1($color-main)
  }
  >div {
    height: 40vh;
    display: flex;
    article {
      padding: 3%;
      width: 60%;
      &:first-letter {
        font-size: 2rem;
      }
    }
    #img1 {
      width: 40%;
      height: 100%;
      bottom: 0;
      right: 0;
      background-image: url("../images/photo1.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

}