header {
  background-color: black;
  top: 0;
  width: 100vw;
  height: 15vh;
  position: fixed;
  font-size: 1.5rem;
  div {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 15vh;
    .logo {
      width: 30%;
      background-image: url("../images/logo-bwhite.jpg");
      background-size: cover;
      background-position: center;
    }
    nav {
      a {
        color: white;
        text-decoration: none;
      }
      color: white;
      width: 40%;
      display: flex;
      ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
}