@import "../variables";

.service {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  h1 {
    @include h1($color-main)
  }
  >div{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    article {
      padding: 3%;
      width: 60%;
      &:first-letter {
        font-size: 2rem;
      }
    }
    #img2 {
      width: 40%;
      height: 30%;
      bottom: 0;
      right: 0;
      background-image: url("../images/photo1.jpeg");
    }
  }
}