@import "../variables";

.service {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  h1 {
    @include h1($color-main)
  }
  >div{
    height: 80vh;
    width: 100%;
    article {
      
    }
    img {

    }
  }
}